In [13]:
import numpy as np
import pandas as pd
import tushare as ts

In [40]:
token = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [4]:
pro = ts.pro_api(token=token)

In [69]:
def get_st(date):
    adj_fac = pro.adj_factor(ts_code='', trade_date=date)
    basic = pro.daily_basic(ts_code='', trade_date=date)
    stock = pro.stock_basic(exchange='', list_status='L')
    stock = pd.merge(basic, stock, on='ts_code')
    stock = pd.merge(adj_fac, stock, on=['ts_code', 'trade_date'])
    return stock

In [76]:
def choose_N_by_order(stock, by='circ_mv', N=10, ascending=False):
    return stock.sort_values(by=by, ascending=ascending).head(10)

In [80]:
res = pd.merge(st0[st0.ts_code.isin(st1_c.ts_code)], st1_c, on='ts_code')

In [84]:
res[['close_x', 'adj_factor_x', 'close_y', 'adj_factor_y']]

   close_x  adj_factor_x  close_y  adj_factor_y
0    19.60         1.002    28.49         1.002
1    21.60         1.017    21.14         1.007
2    19.64         1.010    28.45         1.005
3    13.40         1.433    20.69         1.016
4    21.38         1.742    18.29         1.324
5    11.66         2.008    14.98         1.425
6    16.13         1.026    16.88         1.011
7    18.47         1.406    17.31         1.406
8    18.50         1.423    19.90         1.007
9    27.34         1.009    30.81         1.004

In [77]:
st1_c = choose_N_by_order(st1, ascending=True)

In [70]:
st0 = get_st('20190718')

In [72]:
st1 = get_st('20180718')

In [74]:
basefuc = pro.fund_daily(ts_code='510300.SH', start_date='20180718', end_date='20190718')

In [85]:
basefuc[basefuc.trade_date.isin(['20180718', '20190718'])]

,ts_code,trade_date,pre_close,open,high,low,close,change,pct_chg,vol,amount
0,510300.SH,20190718,3.847,3.834,3.839,3.82,3.822,-0.025,-0.6499,2305494.11,882753.326
243,510300.SH,20180718,3.497,3.502,3.535,3.48,3.481,-0.016,-0.4575,1276136.56,447725.445

In [71]:
st0.head()

,ts_code,trade_date,adj_factor,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,...,float_share,free_share,total_mv,circ_mv,symbol,name,area,industry,market,list_date
0,000001.SZ,20190718,109.169,13.67,0.2463,0.5856,0.54,9.4576,9.1441,1.0272,...,1.717025e+06,722055.4960,2.347195e+07,2.347173e+07,000001,平安银行,深圳,银行,主板,19910403
1,000002.SZ,20190718,142.668,30.09,0.2718,0.4761,0.78,10.0697,10.0029,2.0711,...,9.715170e+05,554628.8780,3.400815e+07,2.923295e+07,000002,万科A,深圳,全国地产,主板,19910129
2,000004.SZ,20190718,4.064,20.23,0.2906,0.4758,0.32,NaN,NaN,14.8260,...,8.293361e+03,5065.9161,1.698848e+05,1.677747e+05,000004,国农科技,深圳,生物制药,主板,19910114
3,000005.SZ,20190718,9.268,3.00,0.6048,0.7748,0.66,21.3402,27.6355,2.1581,...,1.057946e+05,82576.0487,3.175611e+05,3.173839e+05,000005,世纪星源,深圳,环境保护,主板,19901210
4,000006.SZ,20190718,35.426,5.35,0.2628,0.4110,1.01,8.2614,10.3338,1.1947,...,1.347786e+05,86178.8030,7.222473e+05,7.210656e+05,000006,深振业A,深圳,区域地产,主板,19920427

In [21]:
stock.sort_values(by='circ_mv', ascending=False, inplace=True)

In [41]:
sub_stock.tail(10)

,ts_code,trade_date,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,...,float_share,free_share,total_mv,circ_mv,symbol,name,area,industry,market,list_date
3061,300550.SZ,20180718,35.85,3.8312,3.8312,0.88,90.6694,85.6691,5.9033,10.7995,...,2927.0000,2927.0000,298343.7000,104932.9500,300550,和仁科技,浙江,软件服务,创业板,20161018
3087,300730.SZ,20180718,25.60,10.3364,10.3364,0.61,90.9097,96.5990,11.2481,13.1578,...,3950.8000,3950.8000,404500.9869,101140.4800,300730,科创信息,湖南,软件服务,创业板,20171205
3099,300588.SZ,20180718,13.34,2.7176,2.9065,0.91,26.4591,29.5127,5.9063,2.6738,...,7478.0000,6991.9962,213440.0000,99756.5200,300588,熙菱信息,新疆,软件服务,创业板,20170105
3118,300542.SZ,20180718,17.31,8.2922,8.2922,1.09,74.1546,84.5303,4.6168,4.4249,...,5573.0250,5573.0250,268349.2271,96469.0628,300542,新晨科技,北京,软件服务,创业板,20160920
3150,603859.SH,20180718,18.55,1.0693,1.2889,0.38,55.2199,39.7679,3.1780,9.1975,...,4989.0000,4139.0000,210653.8000,92545.9500,603859,能科股份,北京,软件服务,主板,20161021
3175,300605.SZ,20180718,18.36,2.1675,3.0590,0.50,46.8024,46.4996,4.4702,4.9992,...,4841.4077,3430.4475,201941.6290,88888.2454,300605,恒锋信息,福建,软件服务,创业板,20170208
3196,300687.SZ,20180718,24.00,14.4520,14.5242,1.35,34.2141,36.1564,4.5580,4.8752,...,3562.0531,3544.3411,345600.0000,85489.2744,300687,赛意信息,广东,软件服务,创业板,20170803
3222,300682.SZ,20180718,18.05,11.0659,11.0659,0.97,54.0656,65.9731,6.7652,9.6081,...,4500.0000,4500.0000,752252.3415,81225.0000,300682,朗新科技,江苏,软件服务,创业板,20170801
3242,300552.SZ,20180718,19.52,2.0115,2.3912,0.90,55.7718,100.0176,2.8749,3.3631,...,3976.2040,3344.7040,211393.7920,77615.5021,300552,万集科技,北京,软件服务,创业板,20161021
3255,300508.SZ,20180718,28.30,3.1634,3.1634,0.74,31.8829,33.2363,5.0906,12.9528,...,2645.0000,2645.0000,257280.9600,74853.5000,300508,维宏股份,上海,软件服务,创业板,20160419

In [38]:
subs = np.array_split(sub_stock, 3)

In [42]:
choosen_sts = sub_stock.tail(10)

In [46]:
choosen_sts.ts_code.values

array(['300550.SZ', '300730.SZ', '300588.SZ', '300542.SZ', '603859.SH',
       '300605.SZ', '300687.SZ', '300682.SZ', '300552.SZ', '300508.SZ'],
      dtype=object)

In [47]:
basic = pro.daily_basic?

Signature:      pro.daily_basic(fields='', **kwargs)
Call signature: pro.daily_basic(*args, **kwargs)
Type:           partial
String form:    functools.partial(<bound method DataApi.query of <tushare.pro.client.DataApi object at 0x000000000980C0B8>>, 'daily_basic')
File:           e:\programdata\anaconda3\lib\functools.py
Docstring:
partial(func, *args, **keywords) - new function with partial application
of the given arguments and keywords.

In [56]:
to_basic = pro.daily_basic(ts_code='', trade_date='20190718')

In [55]:
choosen_sts.close

3061    35.85
3087    25.60
3099    13.34
3118    17.31
3150    18.55
3175    18.36
3196    24.00
3222    18.05
3242    19.52
3255    28.30
Name: close, dtype: float64

In [57]:
to_basic[to_basic.ts_code.isin(choosen_sts.ts_code)].close

88      13.94
246     16.71
1114    30.11
1132    30.35
1372    18.20
1743    20.07
1862    28.86
2232    11.96
2666    14.36
2985    11.77
Name: close, dtype: float64

In [61]:
pd.merge(choosen_sts[['ts_code', 'close' , 'trade_date']], to_basic[['ts_code', 'close', 'trade_date']], on='ts_code')

     ts_code  close_x trade_date_x  close_y trade_date_y
0  300550.SZ    35.85     20180718    28.86     20190718
1  300730.SZ    25.60     20180718    16.71     20190718
2  300588.SZ    13.34     20180718    11.77     20190718
3  300542.SZ    17.31     20180718    13.94     20190718
4  603859.SH    18.55     20180718    20.07     20190718
5  300605.SZ    18.36     20180718    11.96     20190718
6  300687.SZ    24.00     20180718    14.36     20190718
7  300682.SZ    18.05     20180718    18.20     20190718
8  300552.SZ    19.52     20180718    30.35     20190718
9  300508.SZ    28.30     20180718    30.11     20190718